{% extends 'base.html' %} {% block title %} {{ blog.title if blog else 'Create a
New Blog' }} {% endblock %} {% block header %}
<h1 class="text-3xl font-bold text-center mb-6">
  {% if blog %}Update Blog{% else %}Create a New Blog{% endif %}
</h1>
{% endblock %} {% block content %}
<div class="mx-auto bg-white shadow-md rounded-lg p-6 w-full">
  <!-- Display error messages -->
  {% with messages = get_flashed_messages() %} {% if messages %}
  <div class="mb-4">
    <ul
      class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
      role="alert"
    >
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %} {% endwith %}

  <form method="POST" enctype="multipart/form-data" class="w-full">
    <div classs="mb-4 w-full">
      <label for="title" class="block text-sm font-medium text-gray-700"
        >Title</label
      >
      <input
        width="100%"
        type="text"
        name="title"
        id="title"
        value="{{ blog.title if blog else '' }}"
        placeholder="Enter the title of your blog"
        required
        class="mt-1 block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring focus:ring-blue-200"
      />
    </div>

    <div class="mb-4">
      <label for="body" class="block text-sm font-medium text-gray-700"
        >Body</label
      >
      <textarea
        width="100%"
        name="body"
        id="body"
        rows="8"
        placeholder="Describe the purpose of your blog"
        required
        class="mt-1 block w-full border border-gray-300 rounded-md p-1 shadow-sm focus:outline-none focus:ring focus:ring-blue-100"
      >
      </textarea>
      <label for="header-img">Header Image</label>
      <input
        accept="image/png, image/jpeg, image/jpg"
        type="file"
        name="header-img"
        id="header-img"
        class="mt-1 block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring focus:ring-blue-100"
      />
    </div>

    <button
      type="submit"
      class="w-full bg-blue-600 text-white px-4 py-2 rounded-md shadow hover:bg-blue-700 transition duration-200"
    >
      {% if blog %}Update{% else %}Create{% endif %}
    </button>
  </form>

  {% if g.user %}
  <a
    class="block text-center mt-4 text-blue-600 hover:underline"
    href="{{ url_for('blog.index') }}"
  >
    Back to List
  </a>
  {% endif %}
</div>
{% endblock %}
