{% extends 'base.html' %} {% block title %}Blogs{% endblock %} {% block content
%}
<h1 class="text-3xl font-bold text-center text-gray-800 mb-6">Blogs</h1>

<div class="flex justify-end mb-4">
  {% if g.user %}
  <a
    href="{{ url_for('blog.create') }}"
    class="bg-blue-600 text-white px-4 py-2 rounded shadow hover:bg-blue-700"
  >
    New Blog
  </a>
  {% else %}
  <a
    href="{{ url_for('auth.login') }}"
    class="bg-blue-600 text-white px-4 py-2 rounded shadow hover:bg-blue-700"
  >
    New Blog
  </a>
  {% endif %}
</div>

{% if not blogs %}
<div class="flex justify-center items-center h-64">
  <p class="text-gray-500 text-lg">
    No blogs available. Start a new blog to get started!
  </p>
</div>
{% else %}
<div class="space-y-6">
  {% for blog in blogs %}
  <a class="p-3" href="{{ url_for('blog.view', id=blog.blog_id) }}">
    <div class="bg-white shadow-md rounded-lg p-4">
      <h2 class="text-xl font-semibold text-gray-700">{{ blog.title }}</h2>
      <div class="overflow-hidden max-h-10">
        <p class="text-gray-700 text-sm line-clamp-3">{{ blog.body }}</p>
      </div>

      <div class="text-sm text-gray-400 mt-4">
        by {{ blog.author_id }} on {{ blog.created[:10] }}
      </div>
    </div>
  </a>
  {% endfor %}
</div>
{% endif %} {% endblock %}
