<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>{% block title %}My BlogApp{% endblock %}</title>
    <style>
      html,
      body {
        min-height: 90vh;
        display: flex;
        flex-direction: column;
      }

      .content {
        flex: 1; /* This allows the content area to take up remaining space */
      }

      footer {
        background-color: #1e3a8a; /* Example background color for the footer */
        color: white; /* Example text color */
        padding: 1rem;
        text-align: center;
      }
    </style>
  </head>
  <body class="bg-gray-50 font-sans flex flex-col justify-between min-h-screen">
    <div>
      <nav class="bg-blue-600 shadow-lg">
        <div class="container mx-auto px-4 sm:px-6 lg:px-8">
          <div class="flex justify-between items-center h-16">
            <a
              href="{{ url_for('index') }}"
              class="text-2xl font-semibold text-white hover:text-blue-100"
              >BlogApp</a
            >
            <div class="flex space-x-4">
              {% if g.user %}
              <a
                href="{{ url_for('auth.logout') }}"
                class="text-white hover:text-blue-100"
                >Logout</a
              >
              {% else %}
              <a
                href="{{ url_for('auth.login') }}"
                class="text-white hover:text-blue-100"
                >Login</a
              >
              <a
                href="{{ url_for('auth.register') }}"
                class="text-white hover:text-blue-100"
                >Register</a
              >
              {% endif %}
            </div>
          </div>
        </div>
      </nav>

      <div class="container mx-auto mt-8 content">
        <div class="bg-white shadow-md rounded-lg p-6">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>

    <footer>
      <p>
        ©
        <script>
          document.write(new Date().getFullYear());
        </script>
        BlogApp. All rights reserved.
      </p>
    </footer>
  </body>
</html>
